%%% -*- erlang -*-
%%%
%%% This file is part of couchapp_legacy released under the MIT license. 
%%% See the NOTICE for more information.

{erl_opts, [{i, "../couchdb/src/couchdb"}]}.

{deps, [
    {ibrowse, ".*", {git, "git://github.com/benoitc/ibrowse.git", {branch,
        "refuge"}}}
]}.

{sub_dirs, [
    "rel"
]}.

