%%% -*- erlang -*-
%%%
%%% This file is part of couchapp_ng released under the MIT license. 
%%% See the NOTICE for more information.

{erl_opts, [{i, "../couchdb/src/couchdb"}, {i, "../couchdb/src/ibrowse"}]}.

{deps, [
    {emonk, ".*", {git, "git://github.com/benoitc/emonk.git", {branch,
        "master"}}}
]}.

{sub_dirs, [
    "rel"
]}.

